In [13]:
import pandas as pd

def find_file(file_path):
    try:
       df = pd.read_csv(file_path)
       return df
    except FileNotFoundError:
        print("Given file not found")

In [17]:
df = find_file('data/test.csv')
df

       SR.      NAME  GENDER   AGE       DATE         COUNTRY
0      1.0      Dett    Male  18.0  21/05/2015  Great Britain
1      2.0     Nern   Female  19.0  15/10/2017         France
2      3.0   Kallsie    Male  20.0  16/08/2016         France
3      4.0     Siuau  Female  21.0  21/05/2015  Great Britain
4      5.0  Shennice    Male  22.0  21/05/2016         France
...    ...       ...     ...   ...         ...            ...
15718  NaN       NaN     NaN   NaN         NaN            NaN
15719  NaN       NaN     NaN   NaN         NaN            NaN
15720  NaN       NaN     NaN   NaN         NaN            NaN
15721  NaN       NaN     NaN   NaN         NaN            NaN
15722  NaN       NaN     NaN   NaN         NaN            NaN

[15723 rows x 6 columns]

In [18]:
def divide_vals(numerator, denominator):
    '''
    Args:
        numerator: (float) numerator of fraction
        denominator: (float) denominator of fraction

    Returns:
        fraction_val: (float) numerator/denominator
    '''
    # try to return the fraction but if the denominator is zero
    # catch the error and return a string saying: 
    # "denominator cannot be zero"
    try:
        fraction_val= numerator/ denominator
        return fraction_val
    
    except :
        print('"denominator cannot be zero"')

In [20]:
divide_vals(2,2)

1.0

In [28]:
def num_words(text):
    '''
    Args:
        text: (string) string of words

    Returns:
        num_words: (int) number of words in the string
    '''
    # try to split based on spaces and return num of words
    # but if text isnt a string return "text argument must be a string"
    try:
        name = len(text.split())
        return name
    except:
        print('text argument must be a string')

In [30]:
num_words('JamesBond')

1

In [5]:
from square import sqare_num
sqare_num(5)

25